*{
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Italic.ttf);
}
body{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
h1{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 55px;
}
.texto{
    display: flex;
    justify-content: center;
    text-align: center;
}
.botonesbajos{
    display: flex;
    justify-content: center;
}
.rombo-circulo{
    display: flex;
    justify-content: space-between;

}
.img-movil{
    display: grid;
    justify-content: center;
}
.btn{
    
}
.container-iconos-bajos{
    background-size: cover;
    border-radius: 50%;
}
#icon1{
    color:rgb(172, 99, 148);
    font-size: 50px;
    background-color: rgb(207, 175, 237);
    border-radius: 100%;
    padding: 20px;
}
#icon2{
    color: #4dba92;
    font-size: 50px;
    background-color: rgb(160, 233, 162);
    border-radius: 100%;
    padding: 20px;
}
#icon3{
    color: rgb(227, 55, 55);
    font-size: 50px;
    background-color: rgb(240, 139, 133);
    border-radius: 100%;
    padding: 20px;
}
#icon4{
    color: rgb(237, 169, 20);
    font-size: 50px;
    background-color: rgb(245, 245, 131);
    border-radius: 100%;
    padding: 20px;
}
#icon5{
    color: rgb(95, 206, 228);
    font-size: 50px;
    background-color: rgb(211, 233, 244);
    border-radius: 100%;
    padding: 20px;
}
  
#icon1:hover{
    border-radius: 50px;
    background-color: rgba(212, 165, 196, 0.685);
    cursor: pointer;
  }
  
  #icon2:hover{
    border-radius: 50px;
    background-color: rgba(93, 238, 93, 0.685);
    cursor: pointer;
  }
  
  #icon3:hover{
    border-radius: 50px;
    background-color: rgba(245, 68, 55, 0.685);
    cursor: pointer;
  }
  
  #icon4:hover{
    border-radius: 50px;
    background-color: rgba(252, 249, 36, 0.685);
    cursor: pointer;
  }
  
  #icon5:hover{
    border-radius: 50px;
    background-color: rgba(71, 122, 130, 0.685);
    cursor: pointer;
  }
  .btn {
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-weight: bold;
    padding: 10px 30px;
    background:#ea1515;
    color:#fff;
    font-size: 15px;
    border-radius: 30px;
  }
  .btn:hover {
    opacity: 0.7;
  }

  .